@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@500&display=swap');

:root{
    --header-background-green:#E2F5D8;
    --header-green: #A0CB8A;
    --lightTheme-header:#2A3126;
    --paragraph:#757A72;
    --button-background:#E2F1FF;
    --blue_box:#357EC7;
    --white:#FFF;
    --yellow:#FED917;
}
[data-theme]{
    --lightTheme-header:#007DC0;
    --header:#2A3126;
    --paragraph:#757A72;
    --button-background:#E2F1FF;
    --blue_box:#357EC7;
    --white:#FFF;
    --yellow:#FED917;
    --header-background-green:#E2F5D8;
    --header-green: #A0CB8A;
}

.footer_container{
    margin-top: 150px;
    font-family: Poppins;
    font-style: normal;
    line-height: normal;
    text-transform: capitalize;
}

.footer_left .first_row{
    display: flex;
    justify-content: left;
    gap: 10px;
}

.footer_left .first_row h1{
    color: var(--lightTheme-header);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.footer_left .second_row{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 500px;
    height: 1px;
    flex-shrink: 0;
    background-color: var(--lightTheme-header);
}

.footer_left .third_row p {
    color: var(--paragraph);
    font-size: 18px;
    font-weight: 400;
    
}

.footer_right .first_row{
    display: flex;
    justify-content: end;
    gap:15px;
}

.footer_right .second_row{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 500px;
    height: 1px;
    flex-shrink: 0;
    background-color: var(--lightTheme-header);
}

.footer_right .third_row{
    display: flex;
    justify-content: end;
    gap: 40px;
}
.footer_right .third_row h1{
    color: var(--lightTheme-header);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

    