@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@500&display=swap');

.container_logo{
    border-radius: 10px;
    background: linear-gradient(132deg, #A8CE8E 0%, #E7DFAB 100%);
    backdrop-filter: blur(46px);
    margin-top: 84px;
    
}

#Electronic-Arts-Logo{
    padding-left: 45px;
    padding-right: 100px;
    padding-top: 38px;
    padding-bottom: 37px;
}
#Activision{
    padding-top: 57px;
    padding-right: 106px;
    padding-bottom: 57px;
}

#epicgames{
    padding-top: 39px;
    padding-right: 113.57px;
    padding-bottom: 40px;
}
#Huawei_Logo{
    padding-top: 39px;
    padding-right: 79px;
    padding-bottom: 39px;
}
#Talabat_logo{
    padding-top: 61px;
    padding-right: 80px;
    padding-bottom: 61px;
}
#pngfind{
    padding-top: 49px;
    padding-right: 44px;
    padding-bottom: 50px;
}
